@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.card {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: #000000;
  filter: drop-shadow(5px 3px 5px);

  &-video {
    grid-column: 1;
  }

  &-body {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #000000;

    .card-title {
      font-family: "Roboto", sans-serif;
      margin-left: 1rem;
      color: #ffffff;
      font-weight: 900;
      font-size: 22px;
    }

    .btn-custom {
      position: relative;
      padding: 16px 32px;
      color: #ffffff;
      overflow: hidden;
      border: 2px solid #ffffff;
      margin-right: 1rem;
      text-decoration: none;
      cursor: pointer;
    }
    .btn-custom::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-bottom: 10px solid #ffffff;
      border-left: 20px solid #ffffff;
    }
    .btn-custom::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: 10px solid #ffffff;
      border-right: 20px solid #ffffff;
    }
    .btn-custom:hover {
      background-color: #ffffff;
      box-shadow: -12px -12px 0 #ffffff, 12px 12px 0px #ffffff;
      color: #000000;
      border: 1px solid;
      transition: all 0.3s ease-in-out 0.4s;
    }
    .btn-custom:hover::before,
    .btn-custom:hover::after {
      width: 100%;
      height: 100%;
      transition: all 0.5s ease-in-out;
    }
  }
}
