main {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: 1s 1s linear;
  position: relative;
}
main::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.card-container {
  max-width: 1440px;
  display: flex;
  justify-content: center;

  app-card {
    position: relative;
    padding: 1rem;
  }
}
